/* GLOBAL ======================================================= */
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../img/background-treinador.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* MENU ========================================================= */
#menu ul {
    background-color: rgb(255, 0, 0);
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    /* alteração da altura e largura do menu */
    padding: 15px 40px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#menu ul li a:hover {
    color: rgb(194, 0, 0);
    background-color: rgb(255, 255, 255);
}
/* FORM-REGISTER ================================================ */
form {
    text-align: center;
}

.titulo {
    text-align: center;
    margin: 15px;
    font-size: 40px;
    color: white;
}

form input {
    border-radius: 0.5rem;
    border: none;
    /* centraliza os placeholders */
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    outline: none;
    width: 18em;
}

/* BOTAO =================================================================== */
.botao {
    cursor: pointer;
    padding: 3px 75px;
    background-image:linear-gradient(to top, red, rgb(111, 0, 255));
    color: white;
}

.botao:hover {
    background-image:linear-gradient(to top, rgb(111, 0, 255), red);
    color: white;
}

/* VALIDA ================================================================== */

form #txtNome {
    padding: 0.2px;
}

/* FOOTER ================================================================== */
/* Para fixar em baixo */
footer {
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    padding: 10px;
}